.container {
    max-width: 945px;
    margin: 0 auto;
    padding-bottom: 105px;

    &.cont-header {
        padding-bottom: 30px;
    }
}

.nav-menu {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #828282;
    font-weight: 700;
    color: #828282;

    li {
        display: inline-block;
        width: 23%;
        vertical-align: middle;
        font-size: 18px;

        &:first-child {
            text-align: left;
            width: 15%;
        }

        &:last-child {
            text-align: right;
            width: 15%;
        }
    }

    a {
        padding: 0;
        text-decoration: none;
    

    &:hover {
        color: #070707;
    }
}
}
