body {
    font-size: 0;
}

.home {
    // display: flex;
    // align-items: flex-end;
    // justify-content: space-between;
    padding-bottom: 30px;
    margin: 0 auto;

    .w-30 {
        display: inline-block;
        width: 33%;
    }

    .home-left {
        text-align: left;

        h1 {
            max-width: 124px;
            line-height: 59px;
        }
    }

    .home-right {
        text-align: right;

        .home-right-p {
            color: #828282;

            &:active {
                color: #070707;
            }
        }
    }
}

h1 {
    font-size: 48px;
}

.home-about {
    background-color: #F6F6F6;
    max-width: none;
}

.about-me {
    // display: inline-block;
    width: 485px;
    padding-bottom: 120px;
    margin: 0 auto;

    p {
        padding-bottom: 18px;

        &:last-child {
            padding-bottom: 0;
        }

        span {
            display: block;
        }
    }
}

.skills {
    // display: flex;
    // justify-content: space-between;
    padding-top: 84px;

    .ai-svg, .ps-svg, .ae-svg, .figma-svg {
        height: 100px;
        width: auto;
    }

    .skills-list {
        display: inline-block;
        width: 25%;
    }

    .star {
        display: inline-block;
        padding-top: 40px;
        margin-right: 9px;
        width: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}

.wrapper {
    background-color: #F6F6F6;
    max-width: none;
}

.portfolio_items {
    .fashion, .reebok {
        padding-bottom: 100px;
    }
}

.contacts {
    // flex-wrap: nowrap;
    // display: inline-flex;
    // align-items: center;
    // justify-content: space-between;
    width: 345px;
    padding-bottom: 120px;
    margin: 0 auto;

    a {
        display: inline-block;
        margin-right: 60px;

        &:last-child {
            margin: 0;
        }
    }
}

.footer-link {
    color: #828282;
}
